<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div id="app-support-info-app-icon" class="app-support-info-icon"></div>
    <div class="title" x-mojo-loc=''>About</div>
  </div>
</div>

<div class="palm-text-wrapper">
  <div class="title left" id="app-support-info-app-name"></div>
  <div class="palm-body-text" id="app-support-info-app-details"></div>
</div>

<div>
  <div id="app-support-info-help-list" x-mojo-element="List" ></div>
</div>

<div>
  <div id="app-support-info-support-list" x-mojo-element="List" ></div>
</div>

<div class="palm-text-wrapper">
  <div class="palm-body-text">
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.<br>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.<br>
    View sources on
    <a href="https://github.com/nemunaire/webos-otp">GitHub</a>.
  </div>
  <div class="palm-body-text">
    OTP uses code from
    <a href="http://code.google.com/p/crypto-js/">crypto-js</a>.
  </div>
  <div class="palm-body-text" id="app-support-info-copyright"></div>
</div>
